.graphic {
  grid-area: graphic;
  border: 1px solid #ebebeb;
  border-radius: 13px;
  padding: 0px 10px 10px 10px;
  background-color: $content-color;
}
.graphic-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.img-graphic {
  width: 95%;
}
